@use "../base/variables";

.generator {
  width: 100%;
  max-width: 33.75rem; // around 540px desktop
  margin-inline: auto;

  &__title {
    font-size: 1rem;
    color: var(--clr-grey);
    text-align: center;
    margin-block-end: 1rem;

    @media (min-width: 48rem) {
      font-size: var(--fs-heading-m);
      margin-block-end: 2rem;
    }
  }

  &__display,
  &__card {
    background-color: var(--clr-grey-old);
    padding: 1rem;
    margin-block-end: 1rem;
  }

  &__display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__password {
    font-size: 1.5rem;
    font-weight: 700;

    &--placeholder {
      color: rgba(230, 229, 234, 0.25);
    }
  }

  &__copy-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      filter: brightness(1.5);
    }
  }

  &__length-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;
  }

  &__length-number {
    color: var(--clr-primary);
    font-size: 1.5rem;
    font-weight: 700;

    @media (min-width: 48rem) {
      font-size: 2rem;
    }
  }

  &__card {
    background-color: var(--clr-grey-old);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 48rem) {
      font-size: 2rem;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    cursor: pointer;
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }

  &__checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--clr-almost-white);
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s ease;
    appearance: none;
    -webkit-appearance: none;

    &:checked {
      background-color: var(--clr-primary);
      border-color: var(--clr-primary);

      &::after {
        content: "";
        width: 12px;
        height: 10px;
        background-image: url('data:image/svg+xml;utf8,<svg width="14" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.607 4.393 9l8-8" stroke="%2318171F" stroke-width="3" fill="none"/></svg>');
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(1.2);
      }
    }

    &:hover:not(:checked) {
      border-color: var(--clr-primary);
    }
  }

  &__label {
    font-size: 1rem;
    cursor: pointer;
    user-select: none; // Mencegah teks terpilih saat klik cepat

    @media (min-width: 48rem) {
      font-size: var(--fs-body);
    }
  }

  //slider
  &__range-container {
    margin-block: 1rem;
  }

  &__range {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    outline: none;
    cursor: pointer;

    background-image: linear-gradient(var(--clr-dark), var(--clr-dark));

    // Bagian bulat (Thumb) - Chrome/Safari
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;

      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background: var(--clr-almost-white);
      cursor: pointer;
      transition: all 0.2s ease;
      border: 2px solid var(--clr-almost-white);

      &:hover {
        background: var(--clr-dark);
        border-color: var(--clr-primary);
      }
    }

    // Bagian bulat (Thumb) - Firefox
    &::-moz-range-thumb {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background: var(--clr-almost-white);
      border: 2px solid var(--clr-almost-white);
      cursor: pointer;
    }

    &::-moz-range-progress {
      background-color: var(--clr-primary);
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      background: transparent;
    }
  }

  // strength container
  &__strength-container {
    background-color: var(--clr-dark);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 20rem) {
      padding: 1rem;
    }
  }

  &__strength-text {
    color: var(--clr-grey);
    font-size: 1rem;
  }

  &__strength-meter {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__strength-label {
    margin-left: auto;
    font-size: 1rem;
    color: var(--clr-almost-white);
    font-weight: 700;

    @media (min-width: 48rem) {
      .generator__strength-label {
        font-size: 1.125rem;
      }
    }
  }

  &__bars {
    display: flex;
    gap: 0.5rem;
  }

  &__bar {
    width: 10px;
    height: 28px;
    border: 2px solid var(--clr-almost-white);

    // Modifier untuk state aktif (akan diisi via JS)
    &--active {
      background-color: var(--clr-primary);
      border-color: var(--clr-primary);
    }
  }

  //generate button :
  &__submit-btn {
    width: 100%;
    padding-block: 1.125rem;
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    border: 2px solid var(--clr-primary);
    font-family: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    svg path {
      transition: fill 0.3s ease;
    }

    &:hover {
      background-color: transparent;
      color: var(--clr-primary);

      svg path {
        fill: var(--clr-primary); // Panah jadi hijau saat hover
      }
    }
  }
}
